.todo-form,
.todo-list {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  width: 100%;
  background-color: white;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 16px;
  color: #757575;
  background-color: #fafafa;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  padding: .25em;
  border: 1px solid lightgray;
  border-radius: 2px;
  outline: none;
}

#completed-todo{
  border: 1px solid gray;
  margin: 2% 0;
}

.show-smth {
  margin: 4%;
  background: red;
}
